.place-card__title {
    box-sizing: border-box;
    width: 47%;
    margin: 0 40px 0 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    color: #ffffff;
}

@media (max-width: 1024px) {
    .place-card__title {
        margin: 0 32px 0 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .place-card__title {
        font-size: 55px;
        line-height: 1.1;
    }
}

@media (max-width: 768px) {
    .place-card__title {
        margin: 0 28px 0 0;
        font-size: 42px;
        line-height: 1.1;
    }
}

@media (max-width: 530px) {
    .place-card__title {
        margin: 0;
        width: 91%;
    }
}

@media (max-width: 375px) {
    .place-card__title {
        margin: 0 28px 0 0;
        font-size: 32px;
    }
}