@import url('./__link/cover__link.css');
@import url('./__container/cover__container.css');
@import url('./__content-container/cover__content-container.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('../section-title/section-title.css');
@import url('../section-title/_place/_cover/section-title_place_cover.css');


.cover {
    padding-top: 98px;
    width: 100%;
    max-width: 1184px;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 530px) {
    .cover {
        padding-top: 44px;
    }
}

@media (max-width: 350px) {
    .cover {
        padding-top: 60px;
    }
}


