.cite-card_author_maksimishin::before {
    content: '';
    width: 98px;
    height: 98px;
    z-index: 1;
    background-image: url(../../../../images/photographers/maksimishin.jpg);
    border-radius: 50%;
    position: absolute;
}